version: 2.1
executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/node:10.16.0

commands:
  restore_npm:
    steps:
      - restore_cache:
          name: Restore npm dependencies
          key: npm-{{ checksum "package-lock.json" }}-{{ .Environment.CACHE_VERSION_NPM }}
  save_npm:
    steps:
      - save_cache:
          name: Cache npm dependencies
          key: npm-{{ checksum "package-lock.json" }}-{{ .Environment.CACHE_VERSION_NPM }}
          paths:
            - ~/workspace/node_modules
  install:
    steps:
      - run:
          name: Install dependencies
          command: npm ci
  build:
    steps:
      - run:
          name: Run build
          command: npm run build
  test:
    steps:
      - run:
          name: Run test
          command: npm run test
  diff:
    steps:
      - run:
          name: Run cdk diff
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              pr_number=${CIRCLE_PULL_REQUEST##*/}
              block='```'
              diff=$(echo -e "npm run ci_diff\n${block}\n$(npm run --silent ci_diff)\n${block}")
              data=$(jq -n --arg body "$diff" '{ body: $body }') # escape
              curl -X POST -H 'Content-Type:application/json' \
                -H 'Accept: application/vnd.github.v3+json' \
                -H "Authorization: token ${GITHUB_TOKEN}" \
                -d "$data" \
                "https://api.github.com/repos/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/issues/${pr_number}/comments"
            fi
  deploy:
    steps:
      - run:
          name: Run cdk deploy
          command: npm run ci_deploy

jobs:
  test:
    executor:
      name: default
    steps:
      - checkout
      - restore_npm
      - install
      - save_npm
      - build
      - test
  diff:
    executor:
      name: default
    steps:
      - checkout
      - restore_npm
      - install
      - diff
  deploy:
    executor:
      name: default
    steps:
      - checkout
      - restore_npm
      - install
      - deploy

workflows:
  test:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: master
      - diff:
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: master
  deploy:
    jobs:
      - deploy:
          filters:
            tags:
              only: /.*/
            branches:
              only: master
